/* Remove borders*/
.theme-dark .guildsAdd-21_IdK, .theme-dark .invite-18yqGF, .theme-dark .emoji-alias-input .emoji-input, .theme-dark .auditLog-3jNbM6, .authBox-hW6HRx, .bda-slist li, .theme-dark .hasMore-3e72_v button, .theme-dark .quickMessage-1yeL4E, .theme-dark .card-FDVird:before, .wrapper-29NfPK.fullScreen-3DKbL8 .actions-2vadYq .center-1Vp33r, .wrapper-29NfPK.fullScreen-3DKbL8 .actions-2vadYq .side-kO0bwV, .wrapper-29NfPK.noChat-2qlG4B .center-1Vp33r, .wrapper-29NfPK.noChat-2qlG4B .side-kO0bwV, .wrapper-29NfPK.normal-2GSW0u .center-1Vp33r, .wrapper-29NfPK.normal-2GSW0u .side-kO0bwV, .theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r, .theme-dark .modal-3HD5ck, .emojiPicker-3m1S-j, .stickyHeader-1SS0JU, .theme-dark .header-ykumBX, .theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline, .theme-dark .theme-dark .menu-Sp6bN1, .embedInner-1-fpTo,popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom.popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom.popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom, .theme-dark .attachment-33OFj0, .theme-dark .cardPrimary-1Hv-to,.theme-dark .searchPopout-1vUlP3, .theme-dark .cardPrimaryEditable-3KtE4g, .theme-dark .cardPrimaryOutline-29Ujqw, .theme-dark .select-2TCrqx .Select-control, .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, .theme-dark.contextMenu-HLZMGh, popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom.popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom.popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom, .userPopout-3XzG_A {
  border-color: transparent !important;
  border: transparent !important;
}

/*Land of transparency*/
.theme-dark .sidebarRegion-VFTUkN, .theme-dark .contentRegion-3nDuYy, .theme-dark .standardSidebarView-3F1I7i, .theme-dark .container-3ayLPN, .channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a, .theme-dark .gameLibrary-TTDw4Y, .ace-monokai, .ace-monokai, .theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected, .theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3, .theme-dark .messagesWrapper-3lZDfY, .theme-dark .messagesWrapper-3lZDfY.theme-dark .chat-3bRxxu, .theme-dark .chat-3bRxxu form, .theme-dark .content-yTz4x3, .videoBackgroundWrapper-2dCt49, .theme-dark .headerBar-UHpsPw, .theme-dark .header-1RC2Wb, .bda-dark .emoji-picker .category, .bda-dark .emojiPicker-3m1S-j .category-2U57w6, .emojiPicker-3m1S-j .stickyHeader-1SS0JU, .theme-dark .search-results-wrap .search-result .hit, .theme-dark .calendarPicker-2yf6Ci .react-datepicker, .theme-dark .search-results-wrap, .theme-dark .search-results-wrap .search-header, .theme-dark .search-results-wrap .channel-separator .channel-name, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__header, .theme-dark .markup-2BOw-j pre, .theme-dark .menu-Sp6bN1, .theme-dark .header-ykumBX, .theme-dark .ui-standard-sidebar-view, .theme-dark .ui-standard-sidebar-view .content-region, .theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline, .container-PNkimc, .channels-Ie2l6A, .container-2lgZY8, .theme-dark .title-3qD0b-, .theme-dark .chat, .theme-dark .wrapper-29NfPK, .theme-dark .chat>.content, .theme-dark .chat form, .theme-dark .members-1998pB, .theme-dark .friends-table, .theme-dark .messages-wrapper, .theme-dark .activityFeed-28jde9, .theme-dark .headerNormal-T_seeN {
    background-color: transparent;
}
.guilds-wrapper .guilds .guild .guild-inner, .backdrop-1wrmKB {
  background: transparent !important;
}
.theme-dark .message-group .comment .markup pre,popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom.popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom.popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom, .theme-dark .typing-2GQL18 {
  background: transparent;
  border: 1px solid hsla(0,0%,40%,.3);
}
.theme-dark .typing-2GQL18 {
  background: transparent;
  border-color: transparent;
}
.theme-dark .quickMessage-1yeL4E, .theme-dark .footer-1kmXd4, .wrapper-29NfPK.fullScreen-3DKbL8 .actions-2vadYq .center-1Vp33r, .wrapper-29NfPK.fullScreen-3DKbL8 .actions-2vadYq .side-kO0bwV, .wrapper-29NfPK.noChat-2qlG4B .center-1Vp33r, .wrapper-29NfPK.noChat-2qlG4B .side-kO0bwV, .wrapper-29NfPK.normal-2GSW0u .center-1Vp33r, .wrapper-29NfPK.normal-2GSW0u .side-kO0bwV, .theme-dark .wrapper-29NfPK.minimum-2d6zH6 .actions-2vadYq .center-1Vp33r, .bda-dark #bda-qem-favourite-container, .bda-dark #bda-qem-twitch-container, .bda-dark #bda-qem, .bda-dark .emoji-picker, .bda-dark .emojiPicker-3m1S-j, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled, .theme-dark .calendarPicker-2yf6Ci .react-datepicker__day.react-datepicker__day--disabled:hover, .theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .theme-dark .layer-3QrUeG, .theme-dark .layers-3iHuyZ, .theme-dark .body-3iLsc4, .theme-dark .footer-1fjuF6 {
  background: var(--Brightness);
}

.theme-dark .search-results-wrap .search-result:before, .theme-dark .search-results-wrap .search-result:after {
  background-image: none;
}

/*Land of blurs*/
.theme-dark .sidebarRegion-VFTUkN, .channel-2QD9_O.selected-1HYmZZ a, .channel-2QD9_O:hover a, .theme-dark .invite-18yqGF, .missingAccess-3szpts, .theme-dark .lookFilled-1Gx00P.colorPrimary-3b3xI6, .theme-dark .rowWrapperActive-2L7i9f, .theme-dark .message-2qRu38, .theme-dark .container-3cGP6G, .theme-dark #autocomplete-popout .autocomplete-arrow, .theme-dark #autocomplete-popout .autocomplete-header-background, .theme-dark .side-8zPYf6 .itemDefault-3Jdr52:hover, .theme-dark .side-8zPYf6 .itemHover-EnbcjT:hover, .theme-dark .auditLog-3jNbM6, .authBox-hW6HRx, .bda-slist li, .content-region #bd-customcss-attach-controls, #bd-customcss-detach-container #bd-customcss-attach-controls, .ace-monokai, .theme-dark .add-game-popout, .theme-dark .user-settings-games .not-detected, .theme-light .user-settings-games .not-detected, .theme-dark .hasMore-3e72_v button, .notificationSettings-1NQKPR, .theme-dark .divider-3gKybi:before, .theme-dark .divider-3gKybi span, .theme-dark .messages-wrapper .messages .divider span, .theme-dark .messages-wrapper .messages .divider:not(.red) div, .theme-dark .autocomplete-1vrmpx, .theme-dark #friends, .theme-dark .dockItem-2kQDqg:hover, .article-FleDq5, .private-channels .channel:hover a, .theme-dark .card-FDVird:before, .theme-dark .footer-2yfCgX, .video-1kutKI, .theme-dark .tiles-2aXG_k, .video-1FfuMD, .theme-dark .isLocalBot-38G0P0, .theme-dark .search-results-wrap .search-result .hit, .theme-dark .item-3T2z1R, .need-help-modal.deprecated .footer, .need-help-modal.deprecated .header, .uploadModal-2ifh8j .footer-3mqk7D, .appMount-3VJmYg, .guilds-wrapper, .theme-dark .inner-zqa7da, .theme-dark .embedInner-1-fpTo, .membersWrap-2h-GB4, .theme-dark .search .search-bar, .theme-dark .cardPrimary-1Hv-to, .lookOutlined-3sRXeN.colorBrand-3pXr91, .theme-dark .cardPrimaryEditable-3KtE4g, .theme-dark .cardPrimaryOutline-29Ujqw, .lookOutlined-3sRXeN.colorRed-1TFJan, .theme-dark .bar-2Qqk5Z, .theme-dark .select-2TCrqx .Select-control, .theme-dark .userSettingsVoice-iwdUCU .previewOverlay-2O7_KC, .valueUnchecked-2lU_20, .contentConnectedVoice-qL-YrL:active, .contentHoveredText-2D9B-x, .contentHoveredVoice-3p_NEO:active, .contentSelectedVoice-1WDIBM:active, .theme-dark.contextMenu-HLZMGh, popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom.popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom.popoutBottom-1YbShG.popoutbottom.da-popout.da-popoutBottom.da-popoutbottom, .themeDark-3Ap_7i, .theme-dark .wrapper-29NfPK, .theme-dark .attachment-33OFj0{
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.theme-dark .attachPopout-1n-ZKM {
  background-image: var(--imgBlurred);
  background-position: 0 95px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.theme-dark .searchBar-1MOL6S, .theme-dark .selectableItem-1MP3MQ:hover {
  background-image: var(--imgBlurred);
  background-position: 150px 0;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.theme-dark #autocomplete-popout .row.selected {
  background-image: var(--imgBlurred);
  background-position: 128px 0;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.backdrop-1wrmKB {
  background-image: var(--imgBlurred) !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
  box-shadow: inset 0 0 0 10000px var(--ThirdBrightness) !important;
}
.theme-dark .card-7JP0BX, .theme-dark .select-2TCrqx .Select-menu-outer, .theme-dark .elevationHigh-1PneE4{
  background-image: var(--imgBlurred) !important;
  background-position: center !important;
  background-size: cover !important;
  background-attachment: fixed !important;
}
.theme-dark .searchPopout-1vUlP3, .theme-dark .container-1rPqdX {
  background-image: var(--imgBlurred);
  background-position: 5924px 0;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.userPopout-3XzG_A {
  background-image: var(--imgBlurred);
  background-position: 253px 0;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.theme-dark .markup-2BOw-j code, .theme-dark .markup-2BOw-j code.inline {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--SecondaryBrightness);
  border-radius: 3px;
}

.theme-dark .container-2Thooq, .theme-light .container-2Thooq, .theme-dark .guildsWrapper-5TJh6A, .container-2Rl01u, .header-2o-2hj, .titleWrapper-1l0xT9, .theme-dark .item-1Yvehc:hover {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--SecondaryBrightness);
}
.theme-dark .message-group .mentioned .message-text {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px rgba(250,166,26,.1);
}
.theme-dark .ui-standard-sidebar-view .sidebar-region {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.popoutTopLeft-b5Eb3O.popouttop-left.da-popout.da-popoutTopLeft.da-popouttopLeft {
  background-image: var(--imgBlurred);
  background-position: 0 222px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.popoutBottom-1YbShG {
  background-image: var(--imgBlurred);
  background-position: 0 84px;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.theme-dark .messagesPopoutWrap-1MQ1bW {
  background-image: var(--imgBlurred);
  background-position: 423px 0;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}

/*Scroller*/
 ::-webkit-scrollbar-button{
    background:rgba(255,255,255,0.05) !important;
    border:none !important
}
 ::-webkit-scrollbar-thumb{
   background: rgba(255,255,255,0.08) !important;
    border:none !important
}
 ::-webkit-scrollbar-track{
    background:rgba(255,255,255,0.05) !important;
    border:none !important
}
 ::-webkit-scrollbar-track-piece{
   background:transparent !important;
    border:none !important;
}
 ::-webkit-scrollbar-corner{
    background:rgba(255,255,255,0.1) !important;
    border:none !important
}

/*Lighter areas*/
.theme-dark #friends .friends-table .friends-row .friends-column-actions .friends-action, .bda-dark #bda-qem button:hover, .theme-dark .searchAnswer-3Dz2-q, .theme-dark .searchFilter-2ESiM3, .theme-dark .jumpButton-3DTcS_, .theme-dark .messageGroupWrapper-o-Zw7G, .theme-dark .option-96V44q.selected-rZcOL-, .need-help-modal.deprecated .header input[type=text], .guilds-wrapper .guilds .guild-icon, .theme-dark .member-3W1lQa:hover .content-OzHfo4, .theme-dark .item-1GzJrl:hover, .contentSelectedText-3wUhMi, .contentSelectedVoice-1WDIBM {
  background-color: rgba(255,255,255,0.15)
}
.theme-dark .passthroughSelected-1Eq0Kl {
  background: rgba(255,255,255,0.3) !important;
}
.theme-dark .headerExpanded-CUEwZ5, .ui-standard-sidebar-view #bd-customcss-attach-controls button, .bd-detached-css-editor #bd-customcss-attach-controls button, .ace-monokai .ace_gutter, .theme-dark .user-settings-games .game-name-input:focus, .theme-dark .user-settings-games .game-name-input:hover, .theme-dark .selectorSelected-1_M1WV, .theme-dark #friends .friends-table .friends-row:hover, .bda-dark #bda-qem button.active, .bda-dark .emoji-picker .header .search-bar, .bda-dark .emojiPicker-3m1S-j .header-1nkwgG .search-bar {
  background: rgba(255, 255, 255, 0.05)
}
.theme-dark .item-2J1YMK:active, .theme-dark .item-2J1YMK:hover, .theme-dark .emoji-alias-input .emoji-input, #bd-settingspane-container .ui-switch-item .ui-switch-wrapper .ui-switch, .ui-standard-sidebar-view #bd-customcss-attach-controls button:hover, .bd-detached-css-editor #bd-customcss-attach-controls button:hover, .ace-monokai .ace_marker-layer .ace_active-line, .ace-monokai .ace_gutter-active-line, .theme-dark .guild-1EfMGQ .guildInner-3DSoA4 {
  background: rgba(255, 255, 255, 0.10) !important
}
.theme-dark .guildsAdd-21_IdK, .theme-dark .button-mM-y8i {
  background-color: rgba(255,255,255,0.1)
}
.theme-dark .button-mM-y8i:hover {
  background-color: rgba(255,255,255,0.15)
}

.theme-dark .select-2TCrqx .Select-menu-outer, .theme-dark .search-results-wrap .search-result .search-result-message.hit, .theme-dark .connectedAccount-36nQx7, .theme-dark .userInfoSection-2acyCx+.userInfoSection-2acyCx, .theme-dark .messageGroupWrapper-o-Zw7G, .need-help-modal.deprecated .footer, .uploadModal-2ifh8j .inner-3nWsbo, .uploadModal-2ifh8j .inner-3nWsbo .file-34mY5K .icon-kyxXVr.image-2yrs5j {
  border: none !important;
  border-bottom: none !important;
}
.bda-dark #bda-qem button, .theme-dark .messageGroupWrapper-o-Zw7G:hover .actionButtons-1sUUug {
  box-shadow: none !important;
  background: transparent;
}
.theme-dark .rowWrapperActive-2L7i9f, .theme-dark .message-2qRu38, .theme-dark .button-mM-y8i:hover, .theme-dark .button-mM-y8i, .theme-dark .isLocalBot-38G0P0, .theme-dark .search-results-wrap .search-result .hit {
  box-shadow: none;
}
.bda-dark #bda-qem button {
  border-left: transparent;
}

/*Discord playing status*/
.theme-dark .body-3ND3kc {
  background-image: var(--imgNonBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px var(--Brightness);
}
.topSectionPlaying-1J5E4n {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px rgba(114,137,218,0.3);
}
.topSectionSpotify-1lI0-P {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px rgba(29,185,84,0.3);
}
.lookFilled-1Gx00P.colorGreen-29iAKY:hover, .theme-dark .user-settings-games .now-playing, .theme-light .user-settings-games .now-playing {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px rgba(29,185,84,0.5);
}
.topSectionStreaming-1Tpf5X {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px rgba(89,54,149,0.3);
}
.theme-dark .topSectionNormal-2-vo2m {
  background-image: var(--imgBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  box-shadow: inset 0 0 0 10000px rgba(32,34,37,0.3);
}
.headerPlaying-j0WQBV {
  background: rgba(114,137,218,0.3)
}
.headerSpotify-zpWxgT {
  background: rgba(29,185,84,0.3)
}
.headerStreaming-2FjmGz {
  background: rgba(89,54,149,0.3)
}
.theme-dark .guildsAdd-21_IdK {
  color: #919191;
}

/*Rounding stuff*/
.innerNoAutocomplete-1WpcVO, .content-20Aix8 {
  border-radius: 100px;
}
.container-2Thooq {
  border-radius: 0 100px 100px 0;
}

/*Invisible*/
.theme-dark .attachButtonDivider-3Glu60 {
  display: none;
}
/*Main image*/
.canvas-3XuBXe, .theme-dark .modal-3HD5ck, .app, .uploadModal-2ifh8j, .form-deprecated .form-inner, .form.deprecated .form-inner{
  background-image: var(--imgNonBlurred);
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
.theme-dark .popoutList-T9CKZQ {
  background-image: var(--imgNonBlurred);
  background-position: 150px 0;
  background-size: cover;
  background-attachment: fixed;
}
.theme-dark #autocomplete-popout section {
  background-image: var(--imgNonBlurred);
  background-position: 128px 0;
  background-size: cover;
  background-attachment: fixed;
}